@media screen and (max-width: 770px) {
 #heder {
     height: 80px;
     font-size: 25px;
     
 }
 .nav {
     width: 100%;
     margin-top: 0;
     font-size: 20px;
     
 }
 .label {
   width: 100%;
   font-size: 25px;
}
.text {
 color: #d1d3be;
 font-size: 20px;
}
.img {
     width: 100%;
     padding: 0;
     margin: 0;
     height: 300px;
}
#poslug {
 margin: 0;
 padding: 0;
 background-color: #d1d3be;
 font-size: 15px;
}
#rozkomfkitch {
 margin: 0;
 padding: 0;
 background-color: #d1d3be;
 font-size: 13px;
}
#list {
 margin: 0;
 padding: 0;
 background-color: #d1d3be;
 font-size: 10px;
}
}