
.body{
     background-color: #524636;
    
}
.heder {
    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster Two', cursive;
    color: #261212;
    font-size: 50px;
    background-color: #b5a37b;
    margin: 0;
}
.label {
    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster Two', cursive;
    font-size: 50px;
    color: #261212;
    background-color: #b5a37b;
}
.nav{
    color: #261212;
    height: 60px;
    font-size: 30px;
    background-color: #bfb6a4;
    margin: 0;
}
.text {
    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster Two', cursive;
    font-size: 25px;
}
.image {
    position: relative;
    left: 170px;
    width: 1000px;
    height: 500px;
}
.rozvag {
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster Two', cursive;

}
.komfort {
    font-size: 20px;
    position: absolute;
    left: 500px;
    top: 1105px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster Two', cursive;
}
.listforkamfort {
    font-size: 20px;
    position: absolute;
    left: 500px;
    top: 1150px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster Two', cursive;
}
.kitchen {
    font-size: 20px;
    position: absolute;
    left: 850px;
    top: 1105px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster Two', cursive;
} 
.listforkitchen {
    font-size: 20px;
    position: absolute;
    left: 850px;
    top: 1150px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster Two', cursive;
}