@media screen and (max-width: 770px) {
 #header {
     height: 80px;
     font-size: 25px;
     
 }
 #head {
     font-size: 25px;
 }
 /*.nav {
     width: 100%;
     margin-top: 0;
     font-size: 20px;
}*/
.label {
    color: black;
   width: 100%;
   font-size: 25px;
}
.figcaption {
  color: #d1d3be;
  font-size: 20px;
}
.galery {
 display: block;
 width: 100%;
 padding-left: 0;
}
#contadd {
     font-size: 10px;
     padding-right: 9%;
     background-color: #d1d3be;
 }

 #footer {
     background-color: #d1d3be;
     font-size: 15px;
 }
}