* {
   margin: 0; 
}
body{
     background-color: #50423d;
     max-width: 1920px;
     margin: 0 auto;
}
#header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 160px;
    color: #261212;
    background-color: black;
    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster Two', cursive;
}
#head {
    font-size: 75px;
}
.label {
    padding: 1%;
    color: black;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster Two', cursive;
    margin-top: 1%;
}
.figcaption {
    margin-top: 1.5%;
    color: black;
    display: flex;
    justify-content: flex-start;
    padding-left: 1%;
    font-size: 30px;
}

.galery {
    display: inline-block;
    width: 48%;
    height: 360px;
    padding-left: 1%
}
#contadd {
    color: black;
    display: flex;
    justify-content: space-between;
    padding-right: 6%;
    padding-left: 4%;
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster Two', cursive;
}
#footer {
    color: black;
    display: flex;
    justify-content: space-between;
    padding-right: 9%;
    font-size: 30px;
    padding-left: 4%;
    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster Two', cursive;
}
