* {
    margin: 0;
}
body {
    margin: 0 auto;
    max-width: 1920px;
    background-color: #50423d;
}
#header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 160px;
    color: #261212;
    background-color: black;
    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster Two', cursive;
}
#label {
    font-size: 70px;
}
/*.nav{
    color: #261212;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3%;
    height: 60px;
    font-size: 30px;
    background-color: #bfb6a4;
}*/
.img {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 500px;
    margin-left: 5%;
    margin-bottom: 2%;
    padding-right: 5%; 
    padding-left: 5%;
    
}
/*.table {
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: 30px;
    float: center;
    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster Two', cursive;
}*/
.parking {
    Position: relative;
    top: -10px;
    left: 50px;
    width: 150px;
    height: 130px;
}
.wifi {
    Position: relative;
    left: 425px;
    width: 150px;
    height: 150px;
}
.shisha1 {
    Position: relative;
    left: 825px;
    top: -10px;
    width: 150px ;
    height: 130px;
}
.why {
    display: flex;
    justify-content: flex-start;
    padding-left: 1%;
    color: black;
    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster Two', cursive;
    font-size: 40px;
}
.list {
    display: block;
    justify-content: flex-start;
    color: black;
    padding-left: 6%;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster Two', cursive;
}
#form {
    color: black;
    display: block;
    justify-content: flex-end;
    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster Two', cursive;
    padding-left: 1%;
}
#contadd {
    color: black;
    display: flex;
    justify-content: space-between;
    padding-right: 6%;
    padding-left: 1%; 
    font-size: 25px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster Two', cursive;
}
#footer {
    color: black;
    display: flex;
    justify-content: space-between;
    padding-right: 9%;
    padding-left: 1%;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster Two', cursive;
}
