* {
    margin: 0;
}
#body {
     background-color: #524636;
    
}
#heder {
    color: #261212;
    background-color: black;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster Two', cursive;
}
.nav{
    color: #261212;
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    height: 60px;
    font-size: 30px;
    background-color: #bfb6a4;
}
.img {
    display: flex;
    width: 80%;
    height: 500px;
    padding-left: 10%;
    
}
.table {
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: 30px;
    float: center;
    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster Two', cursive;
}
.parking {
    Position: relative;
    top: -10px;
    left: 50px;
    width: 150px;
    height: 130px;
}
.wifi {
    Position: relative;
    left: 425px;
    width: 150px;
    height: 150px;
}
.shisha1 {
    Position: relative;
    left: 825px;
    top: -10px;
    width: 150px ;
    height: 130px;
}
.why {
    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster Two', cursive;
    font-size: 40px;
}
.list {
  font-size: 30px;
  font-family: 'Dancing Script', cursive;
  font-family: 'Lobster Two', cursive;
}

.contact {
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster Two', cursive;
}
.number {
    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster Two', cursive;
    font-size: 30px;
}


.adress {
    position: absolute;
    left: 1100px;
    top: 1460px;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster Two', cursive;
}
.street {
    position: absolute;
    left: 1100px;
    top: 1530px;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    font-family: 'Lobster Two', cursive;
}