@media screen and (max-width: 770px) {
 #header {
     height: 80px;
     font-size: 25px;
     
 }
 #label {
  font-size: 25px;
 }
 /*.nav {
     width: 100%;
     margin-top: 0;
     font-size: 20px;
     
 }*/
 .img {
     width: 100%;
     padding: 0;
     margin: 0;
     height: 300px;
 }
 .parking {
     display: none;
 }
 .wifi {
     display: none;
 }
 .shisha1 {
     display: none;
 }
 .why {
     color: #d1d3be;
     font-size: 25px;
     display: flex;
     justify-content: flex-start;
     margin-top: 0;
 }
 .list {
     color: #d1d3be;
     font-size: 15px;
 }
 #form {
     color: #d1d3be;
     display: block;
     font-size: 15px;
 }
 #contadd {
     background-color: #d1d3be;
     font-size: 10px;
 }

 #footer {
     background-color: #d1d3be;
     font-size: 15px;
 }
}